@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Newsreader', Arial, sans-serif;
    background-color: rgb(26, 26, 26);
    color: white;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

div#content-meio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    z-index: 1000;
    top: 0;
    padding: 25px;
    background-color: rgb(26, 26, 26);
    box-shadow: 1px -2px 6px 0px #ffffff61;
}

#main-logo {
    font-size: 1.3rem;
    font-weight: bolder;
    font-variant: small-caps;
}

nav.main-nav {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}

nav.secondary-nav {
    width: 50%;
    align-items: flex-end;
}

nav > a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 0.96rem;
    border-radius: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

nav.secondary-nav > a:hover {
    color: rgb(26, 26, 26);
    background-color: white;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: fit-content;
    z-index: 1;
}

section {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.img-large {
    width: 85vw;
    height: 40vh;
    background-image: url(imgs/father6.png); 
    background-position: top center;
    background-color: white;
    background-size: cover;
    filter: grayscale(100%);
    border-radius: 4px;
    max-width: 1014px;
    margin-bottom: 10px;
}

video.video-large {
    width: 90vw;
    height: 325px;
    border-radius: 4px;
}


article#first-article {
    border-radius: 4px;
    background-image: url(imgs/father4.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 90vw;
    max-width: 1014px;
    filter: grayscale(100%);
    height: 65dvh;
}

article#first-article > h1 {
    position: relative;
    font-size: 2.9rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-variant: small-caps;
    text-shadow: -1px 1px 20px #777777;
}

article#first-article > h2 {
    position: relative;
    font-weight: bold;
    color: rgb(254, 254, 254);
    font-size: 1.4em;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 6px black;
    font-variant: small-caps;
    opacity: 0.9;
}

article.text-article {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    padding: 14px;
    background-color: rgb(26, 26, 26);
    border-radius: 4px;
}


article.text-article  > p {
    color: rgb(184, 184, 184);
    font-size: 1.2em;
    text-indent: 1em;
    line-height: 25px;
    text-align: justify;
    max-width: 600px;
}

aside {
    padding: 30px;
    background-color: rgb(33 32 31 / 94%);
}

aside h3 {
    color: rgb(254, 254, 254);
    font-size: 1.5em;
}

aside p {
    color: rgb(184, 184, 184);
    font-size: 1em;
    line-height: 25px;
    text-indent: 0.5em;
    text-wrap: nowrap;
}

aside a {
    color: rgb(184, 184, 184);
    text-decoration: none;
    font-weight: bolder;
    transition: 0.3s;
}

aside a:hover {
    color: white;
    text-decoration: underline;
}

footer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(22, 21, 21);
    color: rgb(184, 184, 184);
    padding: 20px;
}

footer p {
    font-size: 1em;
    padding: 0;
    text-indent: 0px;
    line-height: 25px;
    text-align: center;
}

    /*@media (min-width: 1180px) {
        section {
            flex-direction: row;
            width: 95vw;
        }
    
        article#first-article {
            flex-basis: 40%; 
        }
    
        article#second-article {
            flex-basis: 40%;
            width: 40%;
        }
    
        div.img-large {
            width: 79vw;
        }
    
        h2 {
            font-size: 1.5em;
        }
    
        p {
            font-size: 1.1rem;
            line-height: 22px;
        }

        video.video-large {
            margin-top: 20px;
            width: 95vw;
            height: 400px;
            margin-bottom: 20px;
        }
    } */


    @media (min-width: 1000px) {
        video.video-large {
            width: 95vw;
            height: 600px;
        }

        div.img-large {
            width: 95vw;
            height: 600px
        }
    }

    @media (max-width: 620px) {
        article#second-article {
            margin-top: -30px;
        }
    }